.currencyButtons {
  display: flex;
}

.depositAmount {
  color: var(--darktheme-white-text);
  background-color: transparent;
  width: 100%;
  font-size: 2.5rem;
}

.currencyField {
  display: flex;
  align-content: center;
  font-size: 2.5rem;
  outline: none;
}

.Îž { 
  margin-right: .7rem;
  width: 1ch;
}