@font-face {
  font-family: cute;
  src: url(../../../assets/Cutesy.ttf);
}

@keyframes moveMouth {
  50% {
    transform: translateY(-2.3px);
  }
}

@keyframes moveHead {
  50% {
    transform: translateY(-5px);
  }
}

.talking {
  animation: 0.2s linear 0s infinite alternate none running moveMouth;
}

.floating {
  animation: 4s ease-in-out 1s infinite alternate none running moveHead;
}

/* LOGIN */
.metamessage {
  overflow-y: auto;
  font-family: cute;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 2.3rem 1.5rem 2.3rem;
  text-align: center;
  height: 5.625rem;
}

.metacontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.metacontainer svg {
  width: 30vw;
}

.login {
  background: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 3px solid var(--login-button);
  color: var(--login-button);
  border-radius: 12px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}

.login:focus {
  transform: rotate(2deg);
}

.login:active {
  transform: none;
}

@media (prefers-color-scheme: dark) {
  .login {
    border-color: var(--darktheme-login-button);
    color: var(--darktheme-login-button);
  }

  .login:focus,
  .login:hover {
    background-color: var(--darktheme-login-button);
    color: var(--darktheme-background);
  }
}
