main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* TITLE */
.pethreon {
  font-size: clamp(3rem, 15vw, 6rem);
  font-weight: 300;
  margin: 1rem 0 2rem 1.4rem;
}

.Îž {
  font-size: smaller;
}

/* FEATURES  */
.features {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.9rem;
  list-style-type: none;
  margin: 0 1.5rem 0 1.5rem;
}

.features li {
  margin-bottom: 1.2rem;
}

.vid {
  display: none;
  border-radius: 10%;
  aspect-ratio: 256 / 135;
}
