.contributeLayout {
  display: flex;
  height: 70%;
  flex-direction: column;
  align-content: space-around;
  margin: 13vh 1.5rem 0 1.5rem;
}

.pledgeButton {
  align-self: flex-end;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--darktheme-secondary);
}